
body {
  background-color: rgb(15, 1, 53);
  overflow-x:hidden;
  overflow-y:hidden;
}

#board {
  width: 1040px;
  height: 600px;
  border: 1px solid white;
  background-image: url("grid.png");
  position: relative;
}

#gridGrad {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #c242f5, #4542f5, #aa80ff, #4542f5, #c242f5);
  position: absolute;
  z-index: -1;
}

#bike1 {
  background-color: rgb(227, 186, 65);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;    /* Uncomment if you want to set a "starting" position */
  z-index: 4;
}

#bike2 {
  background-color: rgb(65, 116, 227);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 120px;   /* Uncomment if you want to set a "starting" position */
  top: 120px;    /* Uncomment if you want to set a "starting" position */
  z-index: 4;
}

.trail {
  width: 20px;
  height: 20px;
  position: absolute
}

#bike1score {
  position: absolute;
  color: white;
  left: 109%;
  width: 20%;
  font-size: x-large;
  font-family: fantasy;
}

#bike2score {
  position: absolute;
  color: white;
  left: 109%;
  top: 15%;
  width: 20%;
  font-size: x-large;
  font-family: fantasy;
}

#p1bike {
  position: absolute;
  left: 100%;
  top: -2%;
  width: 8%;
}

#p2bike {
  position: absolute;
  left: 100%;
  top: 13%;
  width: 8%;
}

#screenText {
  position: absolute;
  color: white;
  left: 48%;
  top: 48%;
  width: 4%;
  font-size: x-large;
  font-family: fantasy;
}
