
body {
  background-color: darkgreen;
  overflow-x:hidden;
  overflow-y:hidden;
}

#board {
  width: 1040px;
  height: 840px;
  border: 1px solid white;
  background-image: url("checkers.png");
  position: relative;
}

#bike1 {
  background-color: rgb(227, 186, 65);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;    /* Uncomment if you want to set a "starting" position */
  z-index: 4;
}

#bike2 {
  background-color: rgb(65, 116, 227);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 120px;   /* Uncomment if you want to set a "starting" position */
  top: 120px;    /* Uncomment if you want to set a "starting" position */
  z-index: 4;
}

.trail {
  width: 20px;
  height: 20px;
  position: absolute
}
